<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Users List</h2>
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Post</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of Users; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{book.name}}</td>
            <td>{{book.email}}</td>
            <td>{{book.post}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary" routerLink="/update-user/{{book._id}}">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Delete</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>